<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
    <title><%= title %> | AuditProduct</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/animate.css" rel="stylesheet">
    <link href="/stylesheets/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/stylesheets/inspinia.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/layouts/admin-layout.css" rel="stylesheet">
    <script src="/javascripts/plugins/fontawesome/all.min.js"></script>
    <script src="/javascripts/plugins/sweetalert/sweetalert.min.js"></script>
    <!-- Adicional plugin CSS-->
    <%- style %>
    </head>

  <body class="admin-layout full-height-layout">

    <div id="wrapper">

      <%- include ../partials/default/left-nav %>

      <div id="page-wrapper" class="gray-bg" >

        <%- include ../partials/default/top-nav %>
        <%- include ../partials/default/top-breadcrumb-bar -%>
        <div class="fh-breadcrumb">
          <div class="full-height">
            <div class="full-height-scroll border-left">
              <div class="wrapper wrapper-content animated fadeInRight">
                <%- body %>
              </div>
            </div>
          </div>
        </div>

        <%- include ../partials/default/footer %>

      </div>
    </div>
    <!-- Mainly scripts -->
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/javascripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/javascripts/plugins/toastr/toastr.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/javascripts/inspinia.js"></script>
    <script src="/javascripts/plugins/pace/pace.min.js"></script>

    <!-- Adicional plugin JS -->
    <%- script %>
  </body>

</html>
