<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Language" content="en" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />

  <title><%- title %> | AuditProduct</title>

  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/animate.css" rel="stylesheet">
  <link href="/stylesheets/inspinia.css" rel="stylesheet">
  <link href="/stylesheets/layouts/user-layout.css" rel="stylesheet">
  <script src="/javascripts/plugins/fontawesome/all.min.js"></script>
  <script src="/javascripts/plugins/sweetalert/sweetalert.min.js"></script>

  <!-- Adicional plugin CSS -->
  <%- style %>
</head>
<body  class="user-layout gray-bg">

  <%- body %>

  <!-- Mainly scripts -->
  <script src="/javascripts/jquery-3.1.1.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>

  <!-- Custom and plugin javascript -->
  <script src="/javascripts/plugins/pace/pace.min.js"></script>



  <!-- Adicional plugin JS -->
  <%- script %>
</body>

</html>
