<div class="middle-box text-center animated fadeInDown">
  <% if( error.status == 500 ){ %>

    <h1>500</h1>
    <h3 class="font-bold">Internal Server Error</h3>

    <div class="error-desc">
      The server encountered something unexpected that didn't allow it to complete the request. We apologize.<br/>
      You can go back to last page: <br/><a href="javascript:history.back()" class="btn btn-primary m-t">Go Back</a>
    </div>
    <% } else if( error.status == 404 ){ %>

    <h1>404</h1>
    <h3 class="font-bold">Pagina No Encontrada</h3>

    <div class="error-desc">
      Lo sentimos, pero la página que estás buscando no ha sido encontrada. Intente verificar la URL para ver si hay errores, luego presione el botón de actualización en su navegador o intente encontrar algo más en nuestra aplicación.
      <br/><a href="javascript:history.back()" class="btn btn-primary m-t">Go Back</a>
    </div>
    <% } else { %>

    <h1><%= error.status %></h1>
    <h3 class="font-bold"><%= message %></h3>

    <div class="error-desc">
      <%= error.stack %><br/><a href="javascript:history.back()" class="btn btn-primary m-t">Go Back</a>
    </div>
    <% } %>
</div>
