<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <img alt="image" class="rounded-circle nav-profile-image" src="/images/user-white.png"/>
          <span class="text-white block m-t-xs font-bold text-capitalize"><%= user.email.substring(0, user.email.indexOf("@")).split(".").join(" ") %></span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="block m-t-xs">Opciones de Usuario <i class="fas fa-angle-down"></i></span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a class="dropdown-item" href="/users/profile"><i class="fas fa-user-circle"></i> Perfil del Usuario</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/users/logout"><i class="fas fa-sign-out-alt"></i> Cerrar Sesion</a></li>
          </ul>
        </div>
        <div class="logo-element">
          AP
        </div>
      </li>

      <li>
        <a href="#">
          <i class="fas fa-edit"></i>
          <span class="nav-label">Auditorias</span>
          <i class="fas fa-angle-down"></i>
        </a>
        <% if( user.trellouser) { %>
        <ul class="nav nav-second-level collapse" aria-expanded="true" >
            <li><a href="/audits/products/amazon"><i class="fas fa-shopping-cart"></i>Amazon</a></li>
        </ul>
        <% } %>
      </li>

      <li>
        <a href="#">
          <i class="fas fa-paper-plane"></i>
          <span class="nav-label">Listados</span>
          <i class="fas fa-angle-down"></i>
        </a>
        <ul class="nav nav-second-level collapse" aria-expanded="true" >
            <li><a href="/listados/auditorias"><i class="far fa-clipboard"></i>Auditorias</a></li>
        </ul>
        <ul class="nav nav-second-level collapse" aria-expanded="true" >
            <li><a href="/listados/tarjetas"><i class="fab fa-trello"></i>Tarjetas</a></li>
        </ul>
      </li>
      <% if ((user.tipo ) && (user.tipo === 'superadmin')) { %>
        <li>
          <a href="#" aria-expanded="true">
            <i class="fas fa-poll-h"></i>
            <span class="nav-label">Registrar Data</span>
            <i class="fas fa-angle-down"></i>
          </a>
          <ul class="nav nav-second-level collapse" aria-expanded="true" >
              <li><a href="/departamentos"><i class="fas fa-user-tag"></i>Departamentos</a></li>
              <li><a href="/requests"><i class="fas fa-quote-right"></i>Tipos de Solicitud</a></li>
              <li><a href="/brands"><i class="fas fa-store"></i>Marcas</a></li>
              <li><a href="/trellousers"><i class="fas fa-user"></i>Usuarios de Trello</a></li>
              <li><a href="/users"><i class="fas fa-address-card"></i>Usuarios</a></li>
              <li><a href="/questions"><i class="fas fa-question-circle"></i>Preguntas</a></li>

              <li><a href="/countries"><i class="fas fa-flag"></i>Pais</a></li>
              <li><a href="/asins"><i class="fas fa-bookmark"></i>Asin</a></li>
            </ul>
        </li>
      <% }%>
      <% if ((user.tipo ) && (user.tipo === 'admin')) { %>
        <li>
          <a href="#" aria-expanded="true">
            <i class="fas fa-poll-h"></i>
            <span class="nav-label">Registrar Data</span>
            <i class="fas fa-angle-down"></i>
          </a>
          <ul class="nav nav-second-level collapse" aria-expanded="true" >
            <li><a href="/departamentos"><i class="fas fa-user-tag"></i>Departamentos</a></li>
            <li><a href="/requests"><i class="fas fa-quote-right"></i>Tipos de Solicitud</a></li>
            <li><a href="/brands"><i class="fas fa-store"></i>Marcas</a></li>
              <li><a href="/users"><i class="fas fa-address-card"></i>Usuarios</a></li>
              <li><a href="/questions"><i class="fas fa-question-circle"></i>Preguntas</a></li>
              <li><a href="/asins"><i class="fas fa-bookmark"></i>Asin</a></li>
          </ul>
        </li>
      <% }%>




    </ul>
  </div>
</nav>
