<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fas fa-bars"></i> </a>
      <a href="javascript:history.back()" class="minimalize-styl-2 btn btn-primary" id="back-button"><i class="fas fa-chevron-circle-left"></i></a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <span class="m-r-sm text-muted welcome-message">Bienvenido a AuditProduct</span>
      </li>

      <li>
        <a id="disconnect" href="/users/logout">
          <i class="fas fa-sign-out-alt"></i> Cerrar Sesion
        </a>
      </li>
    </ul>
  </nav>
</div>
