
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-9">
    <h2><%= title %></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">AuditProduct</a>
      </li>
      <% if ( breadcrumb.title_padre != "" ){ %>
      <li class="breadcrumb-item">
        <a <% if ( breadcrumb.url_padre != "" ){ %> href="<%= breadcrumb.url_padre %>" <% } %>><%= breadcrumb.title_padre %></a>
      </li>
      <% } %>
      <li class="breadcrumb-item active">
        <strong><%= breadcrumb.title_page %></strong>
      </li>
    </ol>
  </div>
</div>
