#framesize span {
  font-family:Consolas, monospace;
}
#container {
  background-color:#f1f1f1;
  width:100%;
  overflow:auto;
  position:absolute;
  top:138px;
  bottom:0;
  height:auto;
}
#textareacontainer, #iframecontainer {
  float:left;
  height:100%;
  width:50%;
}
#textarea, #iframe {
  height:100%;
  width:100%;
  padding-bottom:10px;
  padding-top:1px;
}
#textarea {
  padding-left:10px;
  padding-right:5px;
}
#iframe {
  padding-left:5px;
  padding-right:10px;
}
#questionformwrapper {
  width:100%;
  height:100%;
  background-color: #ffffff;
  position:relative;
  box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#iframewrapper {
  width:100%;
  height:100%;
  -webkit-overflow-scrolling: touch;
  background-color: #ffffff;
  box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#iframeResult, #iframeSource {
  background-color: #ffffff;
  height:100%;
  width:100%;
}
#textarea.horizontal{
  height:100%;
  padding-left:10px;
  padding-right:10px;
}
#iframe.horizontal{
  height:100%;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
}
#container.horizontal{
  min-height:200px;
  margin-left:0;
}
@media screen and (max-width: 727px) {
  .trytopnav {top:70px;}
  #container {top:108px;}

}
@media screen and (max-width: 467px) {
  .trytopnav {top:60px;}
  #container {top:98px;}
  .w3-dropdown-content {width:100%}
}
@media only screen and (max-device-width: 768px) {
  #iframewrapper {overflow: auto;}
  #container     {min-width:320px;}
  .stack         {display:none;}
  #tryhome       {display:block;}
}
.radio-pais, .radio-depto, .radio-marca, .checkbox{
  display: inline-flex !important;
}
#marca p, #audit_data p, #departamento p, #pais p, #asin p{
  margin-bottom: 0 !important;
}
#marca button, #asin button{
  padding: 0;
}
#audit_data{
  display: -webkit-inline-box;
}
.ibox-content.audit-content-box, .panel-body.panel-audit-body{
  padding: 0;
}
.slimScrollDiv{
  height: 127% !important;
}
#wizard_audit .content{
  height: 404px!important;
}
#make-audit{
  margin-top: -20px;
}
#lis_users .label-primary {
  margin: 2px !important;
  display: -webkit-inline-box !important;
}
