svg.svg-inline--fa.fa-clipboard.fa-w-12 {
    width: 20%;
    height: 20%;
}

.form-group label {
    font-size: 14px;
    text-align: left;
    font-weight: 700;
}

h3 {
color: #18a689;

}

#page-wrapper {
  overflow: hidden !important;
  }

  .slimScrollBar {
    display: none !important;
}

.wrapper-content {
  padding: 20px 10px 20px;
  background-color: #f3f3f4;
}
.full-height-scroll{
  background-color: #f3f3f4;
}
