<!-- =================== ASSETS ========================== -->

<!-- ___JS FILES -->
<script src="/javascripts/components/asin.js"></script>
<script src="/javascripts/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/javascripts/plugins/dataTables/datatables.min.js"></script>
<script src="/javascripts/plugins/dataTables/dataTables.bootstrap4.min.js"></script>

<!-- ___CSS FILES -->
<link href="/stylesheets/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<style>
  #page-wrapper {
    overflow: hidden !important;
    }

  #wrapper {
      overflow-y: scroll !important;
  }

    .slimScrollBar {
        display: block !important;
    }
    .slimScrollRail{
      display: block !important;
    }

    .table-responsive{
      overflow-y: auto;
    }

</style>
<!-- =================== END ASSETS ========================== -->
<div class="col-lg-12">
  <div class="ibox ">
    <div class="ibox-title">
      <h5>Asin</h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
      </div>
    </div>
    <div class="ibox-content">
      <div class="row options-user">
        <div class="col-sm-3">
          <a  href="/asins/upload_file" class="btn btn-primary" >Cargar Asin</a>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table mb-0" id="table">
          <thead>
            <tr>
              <th>Asin</th>
              <th>SKU</th>
              <th>Brand</th>
              <th>Country</th>
              <th>Status</th>
              <!-- <th>Actions</th>
              <th></th> -->
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
