<!-- =================== ASSETS ========================== -->

<!-- ___JS FILES -->
<script src="/javascripts/components/country.js"></script>
<script src="/javascripts/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/javascripts/plugins/dataTables/datatables.min.js"></script>
<script src="/javascripts/plugins/dataTables/dataTables.bootstrap4.min.js"></script>

<!-- ___CSS FILES -->
<link href="/stylesheets/plugins/sweetalert/sweetalert.css" rel="stylesheet">

<!-- =================== END ASSETS ========================== -->
<div class="col-lg-12">
  <div class="ibox ">
    <div class="ibox-title">
      <h5>Pais</h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
      </div>
    </div>
    <div class="ibox-content">
      <div class="row options-user">
        <div class="col-sm-3">
          <button type="button" data-title="Crear Pais" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Crear Pais</button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table mb-0" id="table">
          <thead>
            <tr>
              <th>NAME</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div style="display:none;" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pais</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <form id="formUser" class="m-t" role="form" action="" method="post">
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" id="name" class="form-control" name="name">
            <input type="hidden" id="id_country">
          </div>
          <div class="form-group">
            <label>Link</label>
            <input type="text" id="link" class="form-control" name="link">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button data-q="" type="submit" id="btn-edit-q" class="btn btn-primary">Editar</button>
        <button data-q="" type="submit" id="btn-save-q" class="btn btn-primary">Crear</button>
      </div>
    </div>
  </div>
</div>
