<!-- =================== ASSETS ========================== -->
<!-- ___JS FILES -->
<script src="/javascripts/components/departamentos.js"></script>
<script src="/javascripts/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/javascripts/plugins/dataTables/datatables.min.js"></script>
<script src="/javascripts/plugins/dataTables/dataTables.bootstrap4.min.js"></script>

<!-- ___CSS FILES -->
<link href="/stylesheets/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="/stylesheets/components/departamentos.css" rel="stylesheet">

<!-- =================== END ASSETS ========================== -->
<div id='spinner'></div>
<div class="col-lg-12">
  <div class="ibox ">
    <div class="ibox-title">
      <h5 id="user" data-type="<%= user.tipo %>">Departamentos </h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
      </div>
    </div>
    <div class="ibox-content">
      <div class="row options-user">
        <div class="opciones col-sm-3">
        <a data-title='Crear Departamento' data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">Crear nuevo Departamento</a>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0" id="table">
        <thead>
          <tr>
            <th colspan="5"></th>
            <th colspan="2">Opciones</th>
          </tr>
          <tr>
            <th>Departamento</th>
            <th>Variables</th>
            <th>Link Board</th>
            <th>List ID</th>
            <th>Estatus</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

      </div>

    </div>
  </div>
</div>
<!-- Modal -->
<div style="display:none;" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Departamentos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <form id="formUser" class="m-t" role="form" action="" method="post">
          <!--<div id="mailS" class="input-group mb-3">
            <label>Ingresa un usuario de referencia para ubicar datos del departamento</label>
            <input type="email" id="emailData" class="form-control" placeholder="Ingresa el correo del coordinador del Dpto"  aria-label="Recipient's username" aria-describedby="basic-addon2" required>
              <div class="input-group-append">
                <button id="search_user" class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
              </div>
            </div>-->
        <div id="error_dato">

        </div>
        <div style="display:none;" class="form-group" id="i0">
          <label>Selecciona un tablero</label>
          <select  name="tableros" id="tableros" class="custom-select mb-3" required>
            <option selected>Selecciona un Tablero</option>

          </select>
        </div>

          <div class="form-group" style="display:none;" id="i1">
            <label>Nombre del Departamento</label>
            <input type="text" id="name" class="form-control" name="name" required>
            <input type="hidden" id="id_depto">
          </div>
          <% if (user.tipo == 'superadmin') { %>
          <div class="form-group" style="display:none;" id="esp">
            <label>Tipo Departamento</label>
            <input type="text" id="tipo" class="form-control" name="tipo" required>

          </div>
          <% } %>
          <div style="display:none;" id="i2" class="form-group">
            <label>Link Del tablero</label>
            <input type="text" id="linkBoard" class="form-control" name="linkBoard" required>
          </div>
          <div style="display:none;" id="i3" class="form-group">
            <label>Nombre del tablero</label>
            <input type="text" id="nameBoard" class="form-control" name="nameBoard" required>
          </div>
          <div style="display:none;" id="i4" class="form-group">
            <label>List Name</label>
            <input type="text" id="nameList" class="form-control" name="nameList" required>
          </div>
          <div style="display:none;" id="i5" class="form-group">
            <label>List ID</label>
            <input type="text" id="idList" class="form-control" name="idList" required>
          </div>
          <div style="display:none;" id="i6" class="form-group">
            <label>variables</label>
            <small>Ingresa cada variable separadas por "," sin epacios</small>
            <input type="text" id="variables" class="form-control" name="variables" placeholder="Ejemplo: titulo,descripcion" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button data-q="" type="submit" id="btn-edit-q" class="btn btn-primary">Editar</button>
        <button data-q="" type="submit" id="btn-save-q" class="btn btn-primary" disabled>Crear</button>
      </div>
    </div>
  </div>
</div>
