<!-- =================== ASSETS ========================== -->

<!-- ___JS FILES -->
<script src="/javascripts/components/pregunta.js"></script>
<script src="/javascripts/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/javascripts/plugins/dataTables/datatables.min.js"></script>

<!-- ___CSS FILES -->
<link href="/stylesheets/components/pregunta.css" rel="stylesheet">
<link href="/stylesheets/plugins/sweetalert/sweetalert.css" rel="stylesheet">

<!-- =================== END ASSETS ========================== -->
<div class="col-lg-12">
  <div class="ibox ">
    <div class="ibox-title">
      <h5>Preguntas </h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
      </div>
    </div>
    <div class="ibox-content">
      <div class="row options-user">
        <div class="col-sm-3">
          <button type="button" data-title="crear" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Crear nueva Pregunta</button>
        </div>
      </div>
      <div class="table-responsive">
        <table  id="table-data" class="table table-striped" style="width: 700PX;">
          <thead>

            <tr>
              <th>Pregunta </th>
              <th>Tipo</th>
              <th>Departamento</th>
              <th>Estatus</th>
              <th>Desactivar/Activar</th>

            </tr>

          </thead>

          </table>
        </div>
      </div>
    </div>
  </div>
<div style="display:none;" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
          <% } %>
          <form id="formUser" class="m-t" role="form" action="" method="post">
            <div class="form-group">
              <label>Pregunta</label>
              <input type="text" id="questionData" class="form-control" name="question" placeholder="">
              <input type="hidden" id="id_question">
            </div>
            <div  class="form-group">
              <select name="dptoQuestion" id="dptoQuestion" class="custom-select mb-3">
                <option> Selecciona un Departamento</option>
              </select>
            </div>
            <div style="display:none;" class="form-group" id="i1">
              <select name="typeQuestion" id="tipoData" class="custom-select mb-3">
                <option> Selecciona un tipo de pregunta</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button data-q="" type="submit" id="btn-edit-q" class="btn btn-primary">Editar Pregunta</button>
          <button data-q="" type="submit" id="btn-save-q" class="btn btn-primary">Crear Pregunta</button>
        </div>
      </div>
    </div>
  </div>
