<!-- =================== ASSETS ========================== -->

<!-- ___JS FILES -->
  <script src="/javascripts/components/trellouser.js"></script>
  <script src="/javascripts/plugins/dataTables/datatables.min.js"></script>
  <script src="/javascripts/plugins/sweetalert/sweetalert.min.js"></script>
  <!-- ___CSS FILES -->
  <link href="/stylesheets/components/trellouser.css" rel="stylesheet">
  <link href="/stylesheets/plugins/sweetalert/sweetalert.css" rel="stylesheet">

<!-- =================== END ASSETS ========================== -->

<div id='spinner'></div>
<div class="col-lg-12">
  <div class="ibox ">
    <div class="ibox-title">
      <h5>Usuarios de Trello </h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>

      </div>
    </div>

    <div class="ibox-content">
      <div class="row options-user">
        <div class="opciones col-sm-3">
          <a data-title='crear' data-toggle="modal" data-target="#userModal" class="btn btn-primary">Crear nuevo usuario</a>

          <button  data-title='editar'  data-toggle='modal' data-target='#userModal' class='btn btn-primary update-user'><i class='far fa-edit'></i><span>Editar Usuario</span></button>


        </div>

      </div>
      <div>

      <div class="table-responsive">
        <table id="table-data" class="table table-striped">
          <thead>
            <tr>
              <th>id </th>
              <th>Correo </th>
              <th>Trello Id </th>
              <th>User Name</th>
              <th>Departamento</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

    </div>
  </div>
</div>





<div style="display:none;" class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <form id="formCreateUser" class="m-t" role="form" action="" method="put">
          <div class="input-group mb-3">

            <input type="email" id="emailData" class="form-control" placeholder="Ingresa el correo del usuario en trello"  aria-label="Recipient's username" aria-describedby="basic-addon2" required>
              <div class="input-group-append">
                <button id="search_user" class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
              </div>
        </div>

          <div id="error_dato">

          </div>

          <div style="display:none;" id="i1" class="form-group" >
            <label>User name en trello</label>
            <input  disabled type="text" id="username" class="form-control" name="username"  required>
          </div>

          <div style="display:none;" class="form-group" id="i2">
            <label>Id del usuario de trello</label>
            <input  disabled type="text" id="userid" class="form-control" name="userid"  required>
          </div>

          <div style="display:none;" class="form-group" id="i3">
            <select  name="departamentos" id="departamentos" class="custom-select mb-3" required>
              <option selected>Selecciona un departamento</option>
              <%  data.forEach(function(element) { %>
                 <option value="<%= element._id %>" id="<%= element._id %>">
                   <%= element.name %>
                 </option>

                <%})%>
            </select>
          </div>



        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button disabled  type="submit" id="btn-create-user" class="btn btn-primary">Crear Usuario</button>
        <button  type="submit" id="btn-edit-user" class="btn btn-primary">Editar Usuario</button>

      </div>
    </div>
  </div>
</div>


</div>
