<!-- =================== ASSETS ========================== -->

<!-- ___JS FILES -->
<script src="/javascripts/components/upload_asin.js"></script>
<script src="/javascripts/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/javascripts/plugins/dataTables/datatables.min.js"></script>
<script src="/javascripts/plugins/dataTables/dataTables.bootstrap4.min.js"></script>
<script src="/javascripts/xls.core.min.js"></script>
<script src="/javascripts/xlsx.core.min.js"></script>

<!-- ___CSS FILES -->
<link href="/stylesheets/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<style>
  #page-wrapper {
    overflow: hidden !important;
    }

  #wrapper {
      overflow-y: scroll !important;
  }

    .slimScrollBar {
        display: block !important;
    }
    .slimScrollRail{
      display: block !important;
    }

    .table-responsive{
      overflow-y: auto;
    }

</style>
<!-- =================== END ASSETS ========================== -->
<div class="col-lg-12">
  <div class="ibox ">
    <div class="ibox-title">
      <h5>Cargar Asins</h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
      </div>
    </div>
    <div class="ibox-content">
      <div class="row mt">
        <div class="col-lg-12">
          <div class="form-panel">
            <form class="form-horizontal style-form row" role="form" >
              <div class="col-sm-4">
                <h4>1. Archivo de Referencia</h4>
                <div class="form-group">
                  <label class="col-sm-1 control-label">Archivo: </label>
                  <div class="col-sm-6">
                    <a href="/file/estandarAsin.xlsx" class="btn btn-primary">Descarga el Archivo de Referencia</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-8">
                <h4>2. Cargar Data</h4>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Cargar Archivo:</label>
                  <div class="col-sm-9 excel-file">
                    <input type="file" id="excelfile"/>
                    <input type="button" id="viewfile" value="Exportar A Tabla" class="btn btn-primary"/>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <h4>3. Una vez el archivo este cargado, puedes: </h4>
                <a id="cancel" class="btn btn-link">Cancelar</a>
                <button id="sync" class="btn btn-primary ml-auto">Sync. ASIN</button>
                </div>
              </div>
              <div class="col-sm-12">
                <h4>Detalles de ASIN</h4>
                <div class="form-group">
                  <div class="col-sm-12 item_list">
                  </div>
                  <hr>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
