<!-- =================== ASSETS ========================== -->

<!-- ___JS FILES -->
  <script src="/javascripts/components/usuario.js"></script>
  <script src="/javascripts/plugins/dataTables/datatables.min.js"></script>
 <script src="/lou-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>

 <script src="/javascripts/plugins/sweetalert/sweetalert.min.js"></script>
  <!-- ___CSS FILES -->
  <link href="/stylesheets/components/usuario.css" rel="stylesheet">
<link href="/lou-multi-select/css/multi-select.css" media="screen" rel="stylesheet" type="text/css">
<link href="/stylesheets/plugins/sweetalert/sweetalert.css" rel="stylesheet">

<!-- =================== END ASSETS ========================== -->

<div id='spinner'></div>
<div class="col-lg-12">
  <div class="ibox ">
    <div class="ibox-title">
      <h5>Usuarios </h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>

      </div>
    </div>

    <div class="ibox-content">
      <div class="row options-user">
        <div class="opciones col-sm-3">
            <% if (user.tipo == 'superadmin') { %>
          <a data-title='crear' data-toggle="modal" data-target="#userModal" class="btn btn-primary">Crear nuevo usuario</a>
          <% }else if (user.tipo == 'admin') { %>
            <button  data-title='editar'  data-toggle='modal' data-target='#userModal' class='btn btn-primary update-user'><i class='far fa-edit'></i><span>Editar Usuario</span></button>
            <% }%>
        </div>

      </div>
      <div>

      <div class="table-responsive">
        <table id="table-data" class="table table-striped">
          <thead>
            <tr>
              <th colspan="5"></th>
              <th colspan="2">Opciones</th>
            </tr>
            <tr>
              <th>Correo </th>
              <th>Tipo</th>
              <th>Usuario de trello</th>
              <th>Marcas</th>
              <th>Estatus</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

    </div>
  </div>
</div>





<div style="display:none;" class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <form id="formCreateUser" class="m-t" role="form" action="" method="put">

          <div class="form-group">
            <label>Correo</label>
            <input type="email" id="emailData" class="form-control" name="emailuser" placeholder="example.email@2becommerce.com" required <% if (user.tipo == 'admin') { %> disabled="disabled"<% }%>>
          </div>
<% if (user.tipo == 'superadmin') { %>
          <div class="form-group">
            <label>Contraseña</label>
              <div class="input-group">
                <input id="passuser" type="Password" Class="form-control" required>
                <div class="input-group-append">
                  <button id="show_password" class="btn btn-primary" type="button">
                    <span class="fa fa-eye-slash icon"></span>
                   </button>
                </div>
              </div>
            </div>
<% }%>
          <div class="form-group">
            <select name="tipousers" id="tipoData" class="custom-select mb-3" required <% if (user.tipo == 'admin') { %> disabled="disabled"<% }%>>
              <option selected>Selecciona un tipo de usuario</option>
              <option id="acm" value="acm">ACM</option>
              <option id="admin" value="admin">Admin</option>
              <option id="superadmin" value="superadmin">SuperAdmin</option>
            </select>
          </div>

          <div class="form-group">
            <select name="trellousers" id="trellousers" class="custom-select mb-3" required <% if (user.tipo == 'admin') { %> disabled="disabled"<% }%>>
              <option selected>Selecciona un usuario de trello</option>
            </select>
          </div>

          <div class="form-group">
            <select multiple="multiple" id="my-select" name="selectbrand">
            <%  data.forEach(function(element) { %>
               <option value="<%= element.shortName %>">
                 <%= element.shortName %>
               </option>
               <%})%>
            </select>
          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button  type="submit" id="btn-create-user" class="btn btn-primary">Crear Usuario</button>
        <button  type="submit" id="btn-edit-user" class="btn btn-primary">Editar Usuario</button>

      </div>
    </div>
  </div>
</div>


</div>
