.wrapper-content {
  padding: 20px 10px 20px;
  background-color: #f3f3f4;
}
.stepper .nav-tabs {
  position: relative;
}
.stepper .nav-tabs > li {
  width: 100%;
  position: relative;
}
.stepper .nav-tabs > li:after {
  content: '';
  position: absolute;
  background: #f1f1f1;
  display: block;
  width: 100%;
  height: 5px;
  top: 30px;
  left: 0%;
  z-index: 1;
}
.stepper .nav-tabs > li.completed::after {
  background: #34bc9b;
}
.stepper .nav-tabs > li:last-child::after {
  background: transparent;
}
.stepper .nav-tabs > li.active:last-child .round-tab {
  background: #34bc9b;
}
.stepper .nav-tabs > li.active:last-child .round-tab::after {
  content: '✔';
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  display: block;
}
.stepper .nav-tabs [data-toggle='tab'] {
  width: 25px;
  height: 25px;
  margin: 5px auto;
  border-radius: 100%;
  border: none;
  padding: 0;
  color: #f1f1f1;
}
.stepper .nav-tabs [data-toggle='tab']:hover {
  background: transparent;
  border: none;
}
.stepper .nav-tabs > .active > [data-toggle='tab'], .stepper .nav-tabs > .active > [data-toggle='tab']:hover, .stepper .nav-tabs > .active > [data-toggle='tab']:focus {
  color: #34bc9b;
  cursor: default;
  border: none;
}
.stepper .tab-pane {
  position: relative;
  padding-top: 10px;
}
.stepper .round-tab {
  /*width: 25px;
  height: 25px;*/
  line-height: 22px;
  display: inline-block;
  background: #fff;
  border: 2px solid #34bc9b;
  color: #34bc9b;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 14px;
}
.stepper .completed .round-tab {
  background: #34bc9b;
}
.stepper .completed .round-tab::after {
  content: '✔';
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  display: block;
}
.stepper .active .round-tab {
  background: #fff;
  border: 2px solid #34bc9b;
}
.stepper .active .round-tab:hover {
  background: #fff;
  border: 2px solid #34bc9b;
}
.stepper .active .round-tab::after {
  display: none;
}
.stepper .disabled .round-tab {
  background: #fff;
  color: #f1f1f1;
  border-color: #f1f1f1;
}
.stepper .disabled .round-tab:hover {
  color: #4dd3b6;
  border: 2px solid #a6dfd3;
}
.stepper .disabled .round-tab::after {
  display: none;
}

.svg-inline--fa.fa-times-circle.fa-w-16 {
  margin-left: 10px;
  width: 40%;
  /*height: 40%;*/
  color: red;
}

.svg-inline--fa.fa-check-circle.fa-w-16{
  margin-left: 10px;
  width: 40%;
  /*height: 40%;*/
  color: green;
}
.title-q {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
}

.stepper li.active{
  display: none;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgb(249,249,249);
    opacity: .8;
}

center {
    position: absolute;
    left: 0px;
    top: 220px;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.newcont {
    display: inline-flex;
}
button#next_audit {
    margin-left: 50%;
}

table, th, td {
  border-collapse: collapse;
}
th, td {
  padding: 0px;
  text-align: left;
}
.page-heading{
  display: none !important;
}
.fh-breadcrumb {
  height: 100% !important;
}
.col-lg-4{
  padding: 0;
}
.ibox-title h5 {
  margin: 0;
}
.container{
  padding: 0;
}
#back-button{
  display: none;
}
.panel-body {
    padding: 2px 15px;
}
.audit-content-box{
  padding: 5px 0px;
}
.panel-audit-body{
  padding: 0px;
}
.checkbox{
  display: flex;
}
.checkbox label{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
