thead {
    background-color: #1ab394;
    color: white;
}

.col-sm-7 {
    left: 92%;
}
#page-wrapper {
  overflow: hidden !important;
  }

#wrapper {
    overflow-y: scroll !important;
}

  .slimScrollBar {
      display: block !important;
  }
  .slimScrollRail{
    display: block !important;
  }

  .table-responsive{
    overflow-y: auto;
  }
  .wrapper-content {
    padding: 20px 10px 20px;
    background-color: #f3f3f4;
  }
