thead {
    background-color: #1ab394;
    color: white;
}

.col-sm-7 {
    left: 92%;
}

#wrapper {
    overflow-y: scroll !important;
    overflow-x: scroll !important;
}

  .slimScrollBar {
      display: none !important;
  }
  .slimScrollRail{
    display: none !important;
  }
  .wrapper-content {
      padding: 20px 10px 20px;
      background-color: #f3f3f4;
  }
  
