.options-user {
  padding: 10px;

}
td a {
  padding: 10px;

}

a.delete_q:hover, a.delete_q:focus, a.edit-q:hover, a.edit-q:focus {
   color: #3ab394 !important;
}
#page-wrapper {
  overflow: hidden !important;
  }

#wrapper {
    overflow-y: scroll !important;
}

  .slimScrollBar {
      display: block !important;
  }
  .slimScrollRail{
    display: block !important;
  }

  .table-responsive{
    overflow-y: auto;
  }
  .wrapper-content {
    padding: 20px 10px 20px;
    background-color: #f3f3f4;
  }
