.trello-info {
  padding: 20px 50px 20px;
}

.row.m-b-lg.m-t-lg {
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

strong {
  font-weight: bolder;
  padding: 5px;
}

.cont-info-user {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}



  .slimScrollBar {
      display: none !important;
  }
  .slimScrollRail{
    display: none !important;
  }
  .wrapper-content {
    padding: 20px 10px 20px;
    background-color: #f3f3f4;
  }
  .full-height-scroll{
    background-color: #f3f3f4;
  }
