button.var {
    margin-left: 10px;
    margin-bottom: 10px;
    color: #fff;
    background-color:  #2980B9 !important;
    border-color:  #2980B9 !important;
}
button.var span.badge {
  margin-right: 5px;
  margin-left: 5px;
}
span.label-success {
    margin-right: 10px;
}

.marcas{
  display:flex;
  flex-direction: row;

}

a.select_dpto{
  color: #fff;
  background-color: #1ab394 !important;
  border-color: #1ab394 !important;
}
div.var p {
  color: red;
}
#var-dpto-2 p{
  color: red;
}
a.audit{
  color: #fff;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgb(249,249,249);
    opacity: .8;
}

section.contentAsins{
  height: 400px;
  overflow-y: scroll;
}
#page-wrapper {
  overflow: hidden !important;
  }

#wrapper {
    overflow-y: scroll !important;
    overflow-x: scroll !important;
}

  .slimScrollBar {
      display: none !important;
  }
  .slimScrollRail{
    display: none !important;
  }
