.options-user {
    padding: 10px;

  }

  td a {
    padding: 10px;

  }

  a.delete_user:hover,
  a.delete_user:focus,
  a.edit-user:hover,
  a.edit-user:focus,
  a.detail-user:hover,
  a.detail-user:focus {
    color: #3ab394 !important;
  }
  a.btn.btn-primary {
      text-decoration: none;
      color: white;
  }

  a:not([href]):not([tabindex]):hover {
    color: white;
    text-decoration: none;
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}
tr.selected.odd, tr.selected.even {
  background-color:#B0BED9 !important;
  color: black !important;
}
tr:hover.selected{
  background-color:#aab7d1;
}


.opciones {
  display: inline-flex;
}
.opciones button{
  margin-left: 10px;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgb(249,249,249);
    opacity: .8;
}
#page-wrapper {
  overflow: hidden !important;
  }

#wrapper {
    overflow-y: scroll !important;
}

  .slimScrollBar {
      display: block !important;
  }
  .slimScrollRail{
    display: block !important;
  }

  .table-responsive{
    overflow-y: auto;
  }
  .wrapper-content {
    padding: 20px 10px 20px;
    background-color: #f3f3f4;
  }
