<!-- =================== ASSETS ========================== -->

<!-- ___JS FILES -->
  <script src="/javascripts/components/listaudit.js"></script>
  <script src="/javascripts/plugins/dataTables/datatables.min.js"></script>
  <script src="/javascripts/plugins/dataTables/dataTables.bootstrap4.min.js"></script>

  <!-- ___CSS FILES -->
  <link href="/stylesheets/components/listaudit.css" rel="stylesheet">
  <link href="/stylesheets/plugins/dataTables/datatables.min.css" rel="stylesheet">

<!-- =================== END ASSETS ========================== -->
<div class="ibox ">
    <div class="ibox-title">
      <h5>Auditorias realizadas </h5><br>
      <small id="userlog" data-tipo="<%= user.tipo %>" data-user="<%= user._id %>"><%= user.email %></small>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>

      </div>
    </div>

    <div class="ibox-content">

      <div class="table-responsive">
        <table id="table-data" class="table mb-0" width="100%">
          <thead>
            <tr>
              <th>#</th>
              <th>Tipo</th>
              <th>Fecha</th>
              <th>ASIN</th>
              <th>Marca</th>
              <th>Usuario</th>
              <th>Resultado</th>
              <th>Detalle</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
  </div>
</div>

<!-- =================== Otra version ========================== -->
