<!-- =================== ASSETS ========================== -->

<!-- ___JS FILES -->
  <script src="/javascripts/components/listcard.js"></script>
  <script src="/javascripts/plugins/dataTables/datatables.min.js"></script>
  <script src="/javascripts/plugins/dataTables/dataTables.bootstrap4.min.js"></script>

  <!-- ___CSS FILES -->
  <link href="/stylesheets/components/listcard.css" rel="stylesheet">
  <link href="/stylesheets/plugins/dataTables/datatables.min.css" rel="stylesheet">

<!-- =================== END ASSETS ========================== -->
<div class="ibox ">
    <div class="ibox-title">
      <h5>Tarjetas creadas </h5><br>
      <small id="userlog" data-tipo="<%= user.tipo %>" data-user="<%= user._id %>"><%= user.email %></small>
      
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>

      </div>
    </div>

    <div class="ibox-content">
      <div class="table-responsive">
        <table id="table-data" class="table mb-0" width="100%">
          <thead>
            <tr>

              <th>Titulo</th>
              <th>Link tablero</th>
              <th>Usuario</th>
              <th>Asin</th>
              <th>SKU</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

  </div>
</div>

<!-- =================== Otra version ========================== -->
