<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <div class="col-sm-12">
      <i class="far fa-clipboard"></i>
      <h1 class="logo-name"></h1>
    </div>
    <h3>Bienvenido al sistema de auditorias 2becommerce</h3>


    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <form class="m-t" role="form" action="/login" method="post">
      <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email">
      </div>
      <div class="form-group">
          <label>Contraseña</label>
          <div class="input-group">
            <input id="passuser" type="password" Class="form-control" name="password">
            <div class="input-group-append">
              <button id="show_password" class="btn btn-primary" type="button" >
                <span class="fa fa-eye-slash icon"></span>
               </button>
            </div>
          </div>
      </div>
      <button type="submit" id="connectLink" class="btn btn-primary block full-width m-b">Ingresar</button>
    </form>
    <p class="m-t"> <small></small> </p>
  </div>
</div>

<script>


  $('button#show_password').on('click',  function (){
  		var cambio = document.getElementById("passuser");
  		if(cambio.type == "password"){
  			cambio.type = "text";
  			$('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
  		}else{
  			cambio.type = "password";
  			$('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
  		}
  	});


</script>
