<link href="/stylesheets/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="/stylesheets/components/profile.css" rel="stylesheet">
<link href="/stylesheets/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<script src="/javascripts/plugins/sparkline/jquery.sparkline.min.js"></script>
<script src="/javascripts/plugins/pwstrength/pwstrength-bootstrap.min.js"></script>
<script src="/javascripts/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/javascripts/plugins/fullcalendar/moment.min.js"></script>
<script src="/javascripts/components/profile.js"></script>

<div id="cont_main" class="row m-b-lg m-t-lg">
  <div class="cont-info-user">
    <div class="col-md-6">

      <div class="profile-image">
        <img src="/images/user-black.png" class="rounded-circle circle-border m-b-md" alt="profile">
      </div>

      <div id="profile_user" data-id="<%= user._id %>" class="profile-info">
        <div class="mail-user">
          <h2 class="no-margins">
            <strong>Usuario</strong>: <%= user.email.substring(0, user.email.indexOf("@")).split(".").join(" ") %><br>
          </h2>
        </div>
      </div>

    </div>

    <div class="col-md-6">
      <strong>Información básica del usuario</strong>
      <table class="table small m-b-xs">
        <tbody>
          <tr>
            <td>
              <strong>Correo</strong><i class="fas fa-envelope-square"></i>
              <%= user.email %><br>
            </td>

          </tr>
          <tr>

            <td>
              <i class="fas fa-user"></i>
              <%= user.tipo %>
            </td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="trello-info">
      <h2><i class="fab fa-trello"></i> TRELLO INFORMATION</h2>
      <% if (user.trellouser) { %>

      <table id="trello-i" data-trello="<%= trellouser %>" class="table small m-b-xs">
        <tbody>
          <% if (user.trellouser) { %>
          <tr>
            <td>
              <strong>
              AuditProduct tiene tu autorizacion para acceder a cierta informacion de tu perfil en trello, y lograr que tengas una mejor experiencia auditando
              </strong>
            </td>

          </tr>
          <% }%>
          <tr>
            <td>
              <strong>Nombre de usuario</strong><i id="uname" class="fas fa-envelope-square"></i>
              <%= trellouser.userName %><br>
            </td>

          </tr>
          <tr>
            <td>
              <strong>Dpto. del usuario</strong><i id="dpto" class="fas fa-envelope-square"></i>
                <%= trellouser.dptoUser.name %><br>
              <br>
            </td>

          </tr>


        </tbody>
      </table>

      <% } else{%>
        <table id="trello-i" data-trello="<%= trellouser %>" class="table small m-b-xs">
          <tbody>
            <tr>
              <td>
                <strong>
                    Comunicate con el  Administrador para que tengas un usuario de trello, de esta manera tendrás una mejor experiencia en la aplicacion de Auditorias 2becommerce

                            </strong>
              </td>

            </tr>


          </tbody>
        </table>


        <% }%>

    </div>
  </div>




<div class="container">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Cambia tu contraseña
  </button>
</div>
<div class="collapse" id="collapseExample">
  <div class="card" style="width: 30rem;">
<div class="card-header">
  <h4>Cuando quieras puedes cambiar tu contraseña</h4>
  <div class="card-text">
  <p >Auditorias2be no tiene acceso a su contraseña una vez cambiada. Si Ud. olvida su contraseña no hay manera de recuperarla</p>
  </div>
</div>
<div class="card-body">
<form>

  <div class="form-group">
      <label>Contraseña Actual</label>
      <div class="input-group">
        <input id="passuser" type="password" Class="form-control" name="password">
        <div class="input-group-append">
          <button id="show_password" class="btn btn-primary" type="button" >
            <span class="fa fa-eye-slash icon"></span>
           </button>
        </div>
      </div>
  </div>

  <div id="i0" class="form-group">
      <label>Contraseña Nueva</label>
      <div class="input-group">
        <input id="newpass" type="password" Class="form-control" name="newpass">
        <div class="input-group-append">
          <button id="show_pass" class="btn btn-primary" type="button">
            <span class="fa fa-eye-slash icon"></span>
           </button>
        </div>
      </div>

  </div>

  <div id="i1" class="form-group">
      <label>Confirmar Contraseña</label>
      <div class="input-group">
        <input id="confpass" type="password" Class="form-control" name="confpass">
        <div class="input-group-append">
          <button id="show_pass_conf" class="btn btn-primary" type="button">
            <span class="fa fa-eye-slash icon"></span>
           </button>
        </div>
      </div>
      <label id="texterror"></label>
  </div>

  <button id="savePass" type="button" class="btn btn-primary" disabled="disabled">Enviar</button>
</form>
</div>
</div>

    </div>


  </div>
