
<script src="/javascripts/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/javascripts/components/signup.js"></script>
<link href="/stylesheets/plugins/sweetalert/sweetalert.css" rel="stylesheet">

<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <div class="col-sm-12">
      <i class="far fa-clipboard"></i>
      <h1 class="logo-name"></h1>
    </div>
    <h3>Bienvenido al sistema de auditorias 2becommerce</h3>


    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <form class="m-t" role="form" action="/login" method="post">
      <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" id="email" name="email">
      </div>
      <div class="form-group">
        <label >Tipo de usuario</label>
          <div class="col-sm-10">
              <select  id="tipoData" name="tipousers" class="form-control">
                <option >Selecciona un tipo de usuario</option>
                  <option value="superadmin">Super Administrador</option>
                  <option value="admin">Administrador</option>
                  <option value="acm">Accoutn Manager</option>
              </select>
          </div>
      </div>
      <div class="form-group">
          <label>Contraseña</label>
          <div class="input-group">
            <input id="passuser" type="password" Class="form-control" name="password">
            <div class="input-group-append">
              <button id="show_password" class="btn btn-primary" type="button" >
                <span class="fa fa-eye-slash icon"></span>
               </button>
            </div>
          </div>
      </div>
      <button type="submit" id="connectLink" class="btn btn-primary block full-width m-b">Crear Usuario</button>
    </form>
    <p class="m-t"> <small></small> </p>
  </div>
</div>
