<!-- =================== ASSETS ========================== -->

<!-- ___JS FILES -->
<script src="/javascripts/plugins/steps/jquery.steps.min.js"></script>
<script src="/javascripts/components/auditoria.js"></script>
<script src="/javascripts/plugins/sweetalert/sweetalert.min.js"></script>
<!-- ___CSS FILES -->
<link href="/stylesheets/plugins/steps/jquery.steps.css" rel="stylesheet">
<link href="/stylesheets/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="/stylesheets/components/auditoria.css" rel="stylesheet">
<!-- =================== END ASSETS ========================== -->

<div id='spinner'></div>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox ">
      <div class="ibox-title">
        <h5 id="dpto-audit" data-dpto="<%-dpto-%>">Auditoria de &nbsp; <%_ if(dpto == 1) {_%> Optimizacion y contenido <%_}_%> <%_ if(dpto == 2) {_%> Programacion <%_}_%> <%_if(dpto == 3) {_%> Marketing <%_}_%> </h5>
        <table style="width:100%">
          <tr>
            <td><b>Usuario:&nbsp; </b></td>
            <td class="user" data-user="<%-user._id-%>"><%- user.email -%></td>
            <td><b>ASIN:&nbsp; </b></td>
            <td id="asinparent"></td>
            <td><b>Enlace:&nbsp; </b></td>
            <td id="enlaceasin"></td>
            <td><b>Marca:&nbsp; </b></td>
            <td id="asinmarca"></td>
          </tr>
        </table>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-lg-4">
            <div class="container">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="stepper">
                    <ul class="nav nav-tabs" role="tablist">
                      <% for(var i=0; i<tipos.length; i++) { %>
                        <li role="presentation" class="active step<%-i+1%>">
                          <a class="persistant-disabled" href="#stepper-step-<%-i+1%>" data-toggle="tab" aria-controls="stepper-step-<%-i+1%>" role="tab" title="Step <%-i+1%>">
                            <span class="round-tab"><%-i+1%>. Variable: <%-tipos[i].toUpperCase() %></span>
                          </a>
                        </li>
                        <%}%>
                      </ul>
                      <form role="form">
                        <div class="tab-content">
                          <% for(var i=0; i<tipos.length; i++) { %>
                            <% if(tipos[i] == 'fin') { %>
                              <div class="tab-pane fade" role="tabpanel" id="stepper-step-<%-i+1%>">
                                <h3><%-i+1%>. Finalmente!</h3>
                                <p>Completaste esta auditoria.</p>
                              </div>
                              <div class="newcont">
                                <button id="stop_audit" style="display:none;" class="stop btn btn-secondary"  type="button" disabled="disabled">
                                  GUARDAR Y SALIR
                                </button>
                                <button id="next_audit" style="display:none;" class="next btn btn-primary"  type="button" disabled="disabled">
                                  GUARDAR Y CONTINUAR
                                </button>
                              </div>
                              <%}else{%>
                                <div class="tab-pane fade in" role="tabpanel" id="stepper-step-<%-i+1%>">
                                  <p>Responde todas las preguntas</p>
                                  <div class="ibox-content audit-content-box" style="">
                                    <% if(questions.length>0) { %>
                                      <div class="panel-body panel-audit-body">
                                        <div class="panel-group">
                                          <div class="panel panel-default">
                                            <% questions.forEach(q => { %>
                                              <% if(q.typeQuestion == tipos[i]) { %>
                                                <div data-check="false" class="panel-heading" data-tipoq="<%=tipos[i]%>" data-q="<%= q._id %>">
                                                  <div class="checkbox m-r-xs">
                                                    <input type="checkbox" class="pregunta" checked name="<%= q._id %>" value="<%= q.contentQuestion %>">
                                                    <label for="checkbox1"><%= q.contentQuestion %> </label>
                                                  </div>
                                                </div>
                                                <%}%>
                                                <%})%>
                                              </div>
                                            </div>
                                          </div>
                                          <%}%>
                                          <hr>
                                          <div class="btn-group btn-group-toggle" data-toggle="buttons" style="padding-left: 25%;">
                                            <button data-step="<%-i+1%>" type="button" class="btn btn-primary btn_SI"> Siguiente </button>
                                            <button data-step="<%-i+1%>" data-trellouser="<%= user.trellouser %>" type="button" class="btn btn-danger btn_NO" data-toggle="modal" data-target="#exampleModal"> Crear Tarjeta </button>
                                          </div>
                                        </div>
                                      </div>
                                      <%}%>
                                      <%}%>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="cont_iframe" class="col-lg-8">
                          <iframe data-auditid="" data-asin="" width="150%" height="150%" scrolling="auto" style="visibility:visible; zoom: 0.70; -moz-transform: scale(0.70); -moz-transform-origin: 0 0; -o-transform: scale(0.70); -o-transform-origin: 0 0; -webkit-transform: scale(0.70); -webkit-transform-origin: 0 0;" src="" id="iframeProduct"></iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="cont_iframe" class="col-lg-9">
                <!-- MODAL crear tarjeta -->
                <div style="display:none;" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Crea esta tarea en Trello</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group row">
                            <span class="form-text m-b-none">Titulo de la Tarea</span><br>
                            <input class="form-control" type="text" id="card-titulo" class="card-titulo">
                          </div>
                          <div class="form-group row">
                            <select name="solicitud_type" id="solicitud_type" class="form-control">
                              <option> Selecciona la El Tipo de Solicitud</option>
                              <option value="Tipo 1">Tipo 1</option>
                              <option value="Tipo 2">Tipo 2</option>
                              <option value="Tipo 3">Tipo 3</option>
                            </select>
                          </div>
                          <div class="form-group row">
                            <span class="form-text m-b-none">Descripcion</span><br>
                            <textarea id="desc-card" name="description" rows="8" cols="60"></textarea>
                          </div>
                          <!-- <div class="form-group row">
                            <select name="priority" id="priority" class="form-control">
                              <option> Selecciona la Prioridad de la Tarjeta</option>
                              <option id="URGENTE" value="5d12548baf988c41f2d4840a">URGENTE</option>
                              <option id="IMPORTANTE" value="5d12548baf988c41f2d4840b">IMPORTANTE</option>
                              <option id="ESTANDAR" value="5d12548baf988c41f2d4840c">ESTANDAR</option>
                            </select>
                          </div> -->
                          <div class="col-auto my-1">
                            <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
                            <p>Usuarios que serán etiquetados en la tarjeta</p>
                            <br>
                            <div id="lis_users"></div>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button  type="submit" id="btn-save-card" class="btn btn-primary">Crear Tarjeta</button>
                      </div>
                    </div>
                  </div>
                </div>
            <!-- FIN MODAL crear tarjeta -->
          </div>
        </div>
      </div>
    </div>

<!-- MODAL crear tarjeta -->
<div style="display:none;" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crea esta tarea en Trello</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <span class="form-text m-b-none">Titulo de la Tarea</span>
            <hr>
            <br>
            <h5 class="card-titulo"></h5>
          </div>
          <div class="form-group row">
            <span class="form-text m-b-none">Descripcion</span><br>
            <textarea id="desc-card" name="description" rows="8" cols="60"></textarea>
          </div>
          <div class="col-auto my-1">
            <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
            <p>Usuarios que serán etiquetados en la tarjeta</p>
            <br>
            <div id="lis_users"> </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button  type="submit" id="btn-save-card" class="btn btn-primary">Crear Tarjeta</button>
      </div>
    </div>
  </div>
</div>
<!-- FIN MODAL crear tarjeta -->
