<!-- =================== ASSETS ========================== -->

<!-- ___JS FILES -->
  <script src="/javascripts/plugins/steps/jquery.steps.min.js"></script>
  <script src="/javascripts/components/selectaudit.js"></script>
  <script src="/javascripts/plugins/sweetalert/sweetalert.min.js"></script>
  <!-- ___CSS FILES -->
  <link href="/stylesheets/plugins/steps/jquery.steps.css" rel="stylesheet">
  <link href="/stylesheets/plugins/sweetalert/sweetalert.css" rel="stylesheet">
  <link href="/stylesheets/components/selectaudit.css" rel="stylesheet">
<!-- =================== END ASSETS ========================== -->

<div id='spinner'>

</div>
<div class="row">

    <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Configura tu auditoria</h5>

                        </div>
                        <div class="ibox-content">
                          <span class="badge badge-primary badge-pill label label-success"> 1 </span>
                          <p>
                                Selecciona el departamento que deseas auditar
                            </p>
                            <div id="wizard" role="application" class="wizard clearfix">
                              <div class="steps clearfix">
                                <ul role="tablist" id="dptos" class="nav nav-tabs">

                                  </ul>
                                </div>

                                <div  class="content clearfix">



                                  <div id="demo" class="collapse">

                                  </div>
                                  <div id="demo-1" class="collapse">

                                  </div>
                                  <div id="demo-2" class="collapse">

                                  </div>
                              </div>
                              <h3>Marcas disponibles para auditar</h3>
                        <div class="marcas">

                          <div class="list-group brands_available col-md-6">

                          </div>

                            <div class="col content col-md-6">
                              <span class="badge badge-primary badge-pill label label-success"> 2 </span>
                                <p class="m-b-xs"><strong>Ten presente</strong></p>
                                <p>
                                  Configura la auditoria con las opciones disponibles,
                                   luego el proceso de auditoria iniciará con el primer producto disponible.
                                </p>

                                <button id="audit" class="btn btn-info" disabled="disabled" data-dpto="" data-brand="">
                                  Iniciar auditoria
                                </button>
                            </div>

                        </div>

                          </div>

                        </div>
                    </div>
                </div>

</div>
