<!-- =================== ASSETS ========================== -->


<!-- ___JS FILES -->
<script src="/javascripts/plugins/steps/jquery.steps.min.js"></script>
<script src="/javascripts/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/javascripts/components/step_auditoria.js"></script>

<!-- ___CSS FILES -->
<link href="/stylesheets/plugins/steps/jquery.steps.css" rel="stylesheet">
<link href="/stylesheets/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="/datepicker/css/bootstrap-datepicker.css" rel="stylesheet">
<link href="/stylesheets/components/selectaudit.css" rel="stylesheet">

<!-- =================== END ASSETS ========================== -->

<div id='spinner'></div>
<div class="row" id="select-audit">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Configura tu auditoria: </h5>
        <div id="audit_data"></div>
      </div>
      <div class="ibox-content">
        <div id="wizard">
          <h3>DEPARTAMENTO</h3>
          <section>
            <div id="departamento""></div>
          </section>
          <h3>PAIS</h3>
          <section>
            <div id="pais""></div>
          </section>
          <h3>MARCA</h3>
          <section>
            <div id="marca">

            </div>
          </section>
          <h3>ASIN</h3>
          <section>
            <div id="asin">
              <p>The next and previous buttons help you to navigate through your content.</p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="make-audit">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Auditoria de &nbsp;<span class="badge badge-danger" id="depto_name"></span></h5>
        <table style="width:100%">
          <tr>
            <td><b>Usuario:&nbsp; </b></td>
            <td class="user" data-trellou="<%-trello-%>" data-user="<%-user._id-%>">
              <span class="badge badge-success"><%- user.email -%></span>
            </td>
            <td><b>ASIN:&nbsp; </b></td>
            <td><span class="badge badge-info" id="asinparent"></span></td>
            <td><b>Enlace:&nbsp; </b></td>
            <td><span class="badge badge-warning-light" id="enlaceasin"></span></td>
            <td><b>Marca:&nbsp; </b></td>
            <td><span class="badge badge-primary" id="asinmarca"></span></td>
            <td><button class="btn btn-primary" id="saveaudit" role="menuitem">Save Audit</button></td>
          </tr>
        </table>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-lg-4">
            <div class="stepper">
              <div id="wizard_audit"></div>
            </div>
          </div>
          <div id="cont_iframe" class="col-lg-8">
            <iframe data-auditid="" data-asin="" width="150%" height="135%" scrolling="auto" style="visibility:visible; zoom: 0.70; -moz-transform: scale(0.70); -moz-transform-origin: 0 0; -o-transform: scale(0.70); -o-transform-origin: 0 0; -webkit-transform: scale(0.70); -webkit-transform-origin: 0 0;" src="" id="iframeProduct"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MODAL crear tarjeta -->
<div style="display:none;" class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crea esta tarea en Trello</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <span class="form-text m-b-none">Titulo de la Tarea</span><br>
            <input class="form-control" type="text" id="card-titulo" class="card-titulo">
          </div>
          <div class="form-group row">
            <select name="solicitud_type" id="solicitud_type" class="form-control">
              <option id="ft" value="0"> Selecciona el tipo de solicitud</option>
            </select>
          </div>
          <div class="form-group row">
            <span class="form-text m-b-none">Descripcion</span><br>
            <textarea id="desc-card" name="description" rows="8" cols="60"></textarea>
          </div>
          <div class="form-group row">
            <select name="priority" id="priority" class="form-control" >
              <option id="fp" value="0"> Selecciona la Prioridad de la Tarjeta</option>
            </select>
          </div>


          <div class="input-group date">
    <input type="text" id="calendar" class="form-control">
    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i>
    </span>
  </div>

          <div class="col-auto my-1">
            <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
            <p>Usuarios que serán etiquetados en la tarjeta</p>
            <div id="lis_users"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="cancel-modal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button  type="submit" id="btn-save-card" class="btn btn-primary">Crear Tarjeta</button>
      </div>
    </div>
  </div>
</div>
<!-- FIN MODAL crear tarjeta -->



<!-- MODAL seleccionar otro ASIN -->

<!-- Modal -->
<div class="modal fade" id="openModal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAsin">Selecciona el siguiente ASIN</h5>
        <button type="button" id="cerrar" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section class="contentAsins">
          <div id="selectasin">

          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button id="configaudit" type="button" class="btn btn-secondary" data-dismiss="modal">Configura Otra auditoria</button>
        <button id="sigaudit" type="button" class="btn btn-primary">Siguiente Auditoria</button>
      </div>
    </div>
  </div>
</div>
